@font-face {
    font-family: 'principal_font';
    src: url('fonts/Aaargh-webfont.eot');
    src: url('fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aaargh-webfont.woff') format('woff'),
         url('fonts/-webfont.ttf') format('truetype'),
         url('fonts/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'SEGOEUIL';
	src: url('./fonts/SEGOEUIL.eot');
	src: local('SEGOEUIL'), url('./fonts/SEGOEUIL.woff') format('woff'), url('./fonts/SEGOEUIL.ttf') format('truetype');
}

@font-face {
	font-family: 'icomoon';
	src:url('./fonts/icomoon.eot?7vgpia');
	src:url('./fonts/icomoon.eot?#iefix7vgpia') format('embedded-opentype'),
		url('./fonts/icomoon.woff?7vgpia') format('woff'),
		url('./fonts/icomoon.ttf?7vgpia') format('truetype'),
		url('./fonts/icomoon.svg?7vgpia#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	padding-right: 0.5em;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eliminar:before {
	content: "\e600";
}
.icon-check:before {
	content: "\e601";
}
.icon-mas:before {
	content: "\e602";
}
.icon-menos:before {
	content: "\e603";
}
.icon-igual:before {
	content: "\e604";
}
.icon-derecha:before {
	content: "\e605";
}
.icon-chevron-left:before {
	content: "\e606";
}
.icon-flecha_derecha:before {
	content: "\e607";
}
.icon-flecha_izquierda:before {
	content: "\e608";
}
.icon-grilla:before {
	content: "\e609";
}
.icon-submenu:before {
	content: "\e60a";
}
.icon-home:before {
	content: "\e60b";
}
.icon-ubicacion:before {
	content: "\e60c";
}
.icon-imagen:before {
	content: "\e60d";
}
.icon-flecha_arriba:before {
	content: "\e60e";
}
.icon-flecha_abajo:before {
	content: "\e60f";
}
.icon-estrella:before {
	content: "\e610";
}
.icon-prohibido:before {
	content: "\e611";
}
.icon-advertencia:before {
	content: "\e612";
}
.icon-usuario:before {
	content: "\e613";
}
.icon-abierto:before {
	content: "\e614";
}
.icon-cerrado:before {
	content: "\e615";
}
.icon-eliminar_usuario:before {
	content: "\e616";
}
.icon-agregar_usuario:before {
	content: "\e617";
}
.icon-grupo:before {
	content: "\e618";
}
.icon-pie:before {
	content: "\e619";
}
.icon-barras:before {
	content: "\e61a";
}
.icon-calendario:before {
	content: "\e61b";
}

a
{
	color: #80C408;
}
body
{	
	background-image: url("img/fondo.png");
	color: #8D8D8D;
	font-family: SEGOEUIL;	
	font-size: 16px;/*Tamaño*/
}

figure
{
	margin:0;
	padding: 0;
}

footer
{
	background: #2A2D33;
	margin: 6px; /*Tamaño*/
	padding: 1em;	
	float: left;
	width: 928px;
	display: inline-block;
}

header
{	
	background: white;
	float: left;	
	height: 96px; /*Tamaño*/
	margin: 6px; /*Tamaño*/
	position: relative;
	text-align: center;
	vertical-align: middle;	
	width: 312px; /*Tamaño*/
	overflow: hidden;
	box-shadow: #6F6F6F 1px 1px 10px;
}

header #logo, #banner
{
	margin: 0px;
}

header #logo
{
	position: absolute;
	top: 25%;
}

header #logo img
{	
	width: 95%;
}

nav
{	
	display: block;
	outline: none;	
}

nav ul
{	
	display: block;	
	list-style: none;
	margin: 0;	
	padding: 0;		
	position: relative;	
}

nav ul li
{
	background: #80C408;			
	border:0;
	display: inline-block;
	float: left;	
	height: 96px; /*TamañoA*/
	margin: 6px; /*Tamaño*/
	padding: 0px;	
	width: 96px; /*Tamaño*/
}

nav ul li a:hover
{
	background: #898989;
}

nav ul li #current
{
	background: #898989;
}

nav ul li a
{
	-moz-transition:0.4s;
	-ms-transition:0.4s;	
	-webkit-transition:0.4s;
	/*text-shadow:rgb(0, 0, 0) 0px 1px 1px;*/
	color: white;	
	display: block;	
	font-size: 1em;
	padding: 4em 0 0.5em 1em;
	text-decoration: none;
}


#acerca_de
{	
	display: block;
	font-size: 0.7em;
	font-weight: bold;	
	padding-left: 0.5em;
	text-align: left;
}

#contacto
{
	float: left;
	width: 328px;	
}

#contacto ul
{
	color: white;
	font-size: 0.9em;
	list-style: none;
	padding-left:1em;
}
#contacto ul li .prefijo
{
	color: #80C408;
	display: inline-block;
	font-size: 1em;
	width: 2.5em;
}

#contacto span
{
	font-size: 1.3em;	
}

#clientes
{	
	background: white;
	float: left;
	margin: 6px;  /*Tamaño*/
	padding: 16px;
	text-align: center;
	vertical-align: middle;
	width: 928px;
}

#clientes ul
{
	list-style: none;
	padding: 0;
	margin:0;
}

#clientes ul li
{
	display: inline-block;
}
#clientes ul li figure img
{
	width: 140px; /*Tamaño*/
}

#contenedor
{
	/*border: 1px solid red;*/
	display: block;	
	margin: 0 auto;
	overflow: hidden;
	padding: 1em 0 0 0;
	position: relative;
	width: 972px; /*Tamaño*/
}

#contenido
{	
	margin:0;
	padding: 0;
}

#contenido .contenido_item
{	
	background: white;
	float: left;
	height: 312px; /*Tamaño*/
	margin:6px;
	overflow: hidden;
	position: relative;
	width: 312px; /*Tamaño*/
}

#contenido .contenido_item .imagen
{
	height: 192px; /*Tamaño*/
	margin: 0px;
	overflow: hidden;
	position: relative;
	width: 312px;	/*Tamaño*/
}

#contenido .contenido_item .imagen img 
{
	-webkit-transition:0.3s;
	width: 100%;
	max-width: 312px;/*Tamaño*/
	min-height: 156px;/*Tamaño*/
}

#contenido .contenido_item .texto
{
	-webkit-transition:0.3s;
	height: 120px; /*Tamaño*/
	overflow: hidden;
	padding: 0.5em 0.5em 0 0.5em;
	text-align: center;
}

#contenido .contenido_item .efecto
{
	border:6px solid rgba(0,0,0,0);	
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top:0;
}


#contenido .contenido_item:hover .efecto
{
	border:6px solid rgba(255,255,255,0.3);	
}

#contenido .contenido_item:hover
{
	box-shadow: #6F6F6F 1px 1px 10px;
}

#contenido .contenido_item:hover .texto
{	
	background: #80C408; /*#898989;*/
	color: white;	
	
}

#contenido .contenido_item .texto .subtitulo
{
	color: #80C408;
	font-size: 1.3em;	
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 0;
}

#contenido .contenido_item:hover .texto .subtitulo
{
	color: white;
}

#contenido .contenido_item .texto .parrafo
{
	margin: 0;
}

#contenido_interno
{
	width: 604px;
	background: white;
	float: left;
	margin: 6px;
	padding: 8px 16px;
}

#contenido_interno .cabecera_item .imagen_cabecera
{
	background: #80C408;
	color: white;
	float: left;
	font-size: 1.5em;
	height: 50px;
	margin-right: 0.3em;
	position: relative;	
	width: 50px;
}

#contenido_interno .cabecera_item .imagen_cabecera span
{
	position: absolute;
	top: 12.5px;
	left: 12.5px;
}

#contenido_interno .item_interno .contenido_item p
{
	text-align: justify;	
	line-height: 1.2em;
}

#contenido_interno .item_interno img
{
	width: 300px;
	float: left;
	vertical-align: top;
	margin: 0 0.5em 0 0;
}

.h2
{
	font-size: 1.7rem;
	color: #8D8D8D;
	margin: 0.5rem 0;
	border-bottom: 1px solid #8D8D8D;
}

#navegacion
{
	float: left;
	width: 300px;
}

#navegacion ul
{
	list-style: none;
	padding-left:1em;
	font-size: 0.9em;
	color: white;	
}

#navegacion span
{
	font-size: 1.3em;	
}

#navegacion ul li a
{
	text-decoration: none;
	color: white;
}

#noticias
{
	background: white;
	float: left;	
	margin:6px;
	width: 312px; /*Tamaño*/	
}

#noticias .banner
{	
	background: white;
	height: 312px; /*Tamaño*/
	overflow: hidden;
	position: relative;
	width: 312px; /*Tamaño*/
}

#noticias .banner .texto
{	
	padding: 0.5em 0.5em 0 0.5em;
}

#noticias #publicacion
{
	margin: 6px;
	height: 312px; /*Tamaño*/
	overflow: hidden;	
}

#noticias #publicacion .noticia_item
{
	text-align: center;
}

#noticias .menu_izquierdo
{
	padding: 0.5em 1em;
}

#noticias .menu_izquierdo .navega
{
	list-style: none;
	margin: 0;
	padding: 0.5em 0;
	color: #80C408;
	font-size: 1.2em;
}

#noticias .menu_izquierdo .navega  li
{
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #80C408;

}

#noticias .menu_izquierdo .navega li a
{
	text-decoration: none;
}

#principal
{	
	border: 1px solid blue;	
	margin: 1em 3em;
	overflow: hidden;
	position: relative;
}

#powered
{
	display: block;
	float: left;
	width: 928px;
	font-size: 0.7em;
	text-align: center;
}

#social
{
	float: right;
	width: 300px;	
}

#social ul
{
	list-style: none;
	padding-left:1em;
	font-size: 0.9em;
	color: white;
}

#social span
{
	font-size: 1.3em;
}

/* --- MEDIA QUERIES --*/

@media only screen and (max-width: 979px) and (min-width: 768px){

	body
	{	
		font-size: 13px;
	}

	footer
	{
		margin: 3px; /*Tamaño*/
	}

	header
	{	
		height: 78px; /*Tamaño*/
		margin: 3px; /*Tamaño*/	
		width: 246px; /*Tamaño*/	
	}

	header #logo img
	{	
		width: 90%;
	}

	nav ul li
	{	
		height: 78px; /*Tamaño*/
		margin: 3px; /*Tamaño*/	
		width: 78px; /*Tamaño*/
	}

	nav ul li a
	{	
		font-size: 1em;	
		padding: 3.9em 0 0.5em 0.5em;
	}

	#clientes
	{	
		margin: 3px;  /*Tamaño*/
		padding: 1em;
		width: 724px;
	}


	#clientes ul li figure img
	{
		width: 90px; /*Tamaño*/
	}

	#contenedor
	{	
		width: 756px; /*Tamaño*/
	}


	#contenido .contenido_item
	{	
		height: 246px; /*Tamaño*/
		margin:3px;
		width: 246px; /*Tamaño*/
	}

	#contenido .contenido_item .imagen
	{
		height: 146px; /*Tamaño*/
		width: 246px;	/*Tamaño*/
	}

	#contenido .contenido_item .imagen img
	{
		max-width: 246px;/*Tamaño*/
		min-height: 126px;/*Tamaño*/
	}

	#contenido .contenido_item .texto
	{
		height: 100px; /*Tamaño*/	
	}

	#contenido .contenido_item .efecto
	{
		border:6px solid rgba(0,0,0,0);	
	}

	#contenido .contenido_item:hover .efecto
	{
		border:6px solid rgba(255,255,255,0.3);	
	}

	#noticias
	{
		margin:3px;
		width: 246px; /*Tamaño*/
	}

	#noticias .banner
	{	
		height: 246px; /*Tamaño*/
		width: 246px; /*Tamaño*/
	}

	#noticias .banner .texto
	{	
		padding: 0.5em 0.5em 0 0.5em;
	}

	#noticias #publicacion
	{
		margin: 3px;
		height: 246px; /*Tamaño*/	
	}	
}